body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: $default-text-color;
	background: $default-background-color;
	font-weight: 300;
	transition: all 250ms ease-in-out;
	//margin-left: $left_side_nav_width_closed;

	&.side_menu_open {
		margin-left: $left_side_nav_width_open;

		.navbar-fixed {
			nav {
				width: calc( 100vw - #{$left_side_nav_width_open} );
			}
			a#hide_side_nav {
				opacity: 1;
			}
			a#show_hide_left_side_nav {
				opacity: 0;
				margin-right: -3rem;
			}
		}

		.sidenav-overlay {
			height: 42px;
			width: 270px;

			&:hover {
				opacity: 1 !important;
				cursor: pointer;
			}

		}
	}
	a#hide_side_nav {
		position: absolute;
		opacity: 0;
		transition: opacity 200ms ease-in-out;
	}

	a#show_hide_left_side_nav {
		opacity: 1;
		margin: 0;
		transition: opacity 200ms ease-in-out;
	}
	.navbar-fixed {
		nav {
			width: calc( 100vw - #{$left_side_nav_width_closed} );
		}
	}

	.sidenav-overlay {
		background: rgba( $purple, 0.15 );
		opacity: 0 !important;
		position: absolute;
		top: 0;
		left: 0;
		height: 42px;
		width: 0;
		transition: opacity 200ms ease-in-out;

		&:hover {
			opacity: 1 !important;
			cursor: pointer;
		}

	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}
h1 {
	font-size: $h1_font_size;
}
h2 {
	font-size: $h2_font_size;
}
h3 {
	font-size: $h3_font_size;
}
h4 {
	font-size: $h4_font_size;
}
h5 {
	font-size: $h5_font_size;
}
h6 {
	font-size: $h6_font_size;
}
a {
	color: $blue;
}

.container-fluid {
	&.two-col {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

a.delete {
	color: $warning_color !important;
}
