button,
.btn,
a.btn,
.btn.btn-primary,
a.btn.btn-primary,
input[type="submit"] {
	@include button($primary_color, $primary_color_text);
	z-index: 0;
	border: 2px transparent;

	&:hover,
	&:target,
	&:focus,
	&.active {
		background-color: darken($primary_color, 15);
	}

	&:focus {
		border: 2px dotted $yellow;
	}

	&.link,
	&.btn-link {
		@include button(transparent, $secondary_link_color);
		background-color: transparent;
		box-shadow: none;
	}

	&.blue-button {
		@include button($primary_color, $primary_color_text);
		&:hover {
			background-color: darken($primary_color, 5);
		}
	}
	&.green-button,
	&.btn-confirm,
	&.btn-save {
		@include button($confirm_color, $confirm_color_text);
		&:hover {
			background-color: darken($confirm_color, 5);
		}
	}
	&.grey-button,
	&.btn-cancel,
	&.btn-discard {
		@include button($muted_color, $muted_color_text);
		&:hover {
			background-color: darken($orange, 30);
		}
	}

	&.btn-secondary {
		background: $light-blue;
		box-shadow: none;
		&:hover {
			background: darken( $light-blue, 20 );
		}
	}

	&.disabled {
		background: $light-grey;
		box-shadow: none;
	}

	&.btn-full,
	&.btn-block,
	&.block {
		display: block;
	}

	&.btn-large,
	&.large {
		font-size: 120%;
	}

	&.btn-small,
	&.small {
		font-size: 80%;
	}

	.fa,
	.svg-inline--fa {
		margin-right: 0.75rem;
	}
}

.button-group {
	display: flex;

	.btn {
		display: inline-block;
		margin-left: 0.5em;
	}
}
