/*
 ***** page footer & footer nav ****
 */
.page-footer {
	background: $white;
	color: $medium-grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1.6;
	min-height: $pagefooter_height;
	box-shadow: 0 -1px 1px rgba( $dark, 0.2 );
	margin-top: 2px;
	padding-top: 0;
	font-size: 90%;
	
	> * {
		padding: 0.75rem 1rem;
	}
	
	.footer-nav {
		width: auto;
		background: $white;
		color: $medium-grey;
		box-shadow: none;
		line-height: 1.6;
		height: auto;
		
		a {
			color: $medium-grey;
			line-height: 1;
			font-size: 98%;
		}
	}
}