/*
 ***** page header / nav bar ****
 */
header.page-header {
	&.navbar-fixed {
		height: 56px;

		.nav-wrapper {
			display: flex;
			justify-content: space-between;

			i {
				height: auto;
				line-height: 1;
			}
		}
		nav {
			background: $white;
			color: $dark;
			height: 2.8rem;
			line-height: 2.8;
			
			a {
				color: $dark;
			}
			li {
				position: relative;
			}
			#show_hide_left_side_nav,
			#hide_side_nav,
			#show_full_screen {
				height: 2.8rem;
				line-height: 2.8;
				margin: 0;
				
				span {
					visibility: hidden;
					width: 0;
					height: 0;
					overflow: hidden;
					display: block;
				}
			}
		}
		.right {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			
			.small-icon {
				width: 28px;
				height: 28px;
				margin: 6px 6px -8px 0;
			}
		}
		.search-area {
			display: flex;
			flex: 1;
			justify-content: flex-end;
			border-right: 1px solid $light-grey;
			
			.search-closed {
				opacity: 1;
				transition: all 300ms ease-in-out;
				width: 3rem;
				
				&.hidden {
					opacity: 0;
					width: 0;
					overflow: hidden;
				}
			}
			.search-open {
				width: 0px;
				overflow: hidden;
				transition: all 300ms ease-in-out;
				
				&.visible {
					width: auto;
					flex: 1;
					margin-left: 20px;
					border: 1px solid $yellow;
					background: $offwhite;
					padding: 0;
					transition: all 300ms ease-in-out;
					
					input {
						background: transparent;
						padding: 0 1rem;
						width: 100%;
						
						&:hover {
							background: $white;
						}
					}
					.input-field input[type=search] ~ .mdi-navigation-close, 
					.input-field input[type=search] ~ .material-icons {
						font-size: 1.3rem;
						line-height: 2;
					}
				}
				
				input[type="search"] {
					display: block;
				}
			}
		}
	}
}


/*
 ***** section header / page title & breadcrumb area  ****
 */
.section-header {
	display: flex;
	justify-content: space-between;
	height: auto;
	min-height: $sectionheader_height;
	
	.page-title {
		padding: 0.25rem 1rem;
		margin-bottom: 2rem;
		
		h1 {
			font-size: 1.3rem;
			margin: 0;
			padding: 0;
			
			svg {
				color: $purple;
				transform: scale(1.9);
				transform-origin: bottom right;
				margin: 0 10px 0 25px;
				
				&.color_configuration {
					color: $color_configuration;
				}
				&.color_tools {
					color: $color_tools;
				}
				&.color_help_and_support {
					color: $color_help_and_support;
				}
				&.color_service_health {
					color: $color_service_health;
				}
				&.color_applications {
					color: $color_applications;
				}
				&.color_pink {
					color: $pink;
				}
				&.color_grape {
					color: $grape;
				}
			}
		}
	}
	.page-breadcrumbs {
		padding-left: 4rem;
		
		color: darken( $light-grey, 20 );
		a {
			color: darken( $light-grey, 45 );
		}
	}
}
