/*
 ***** left side nav bar ****
 */
#left-side-nav {
	width: $left_side_nav_width_open;
	background: $dark_theme_background;
	color: $dark_theme_text;
	overflow: inherit;
	
	&.sidenav > ul > li > a {
		padding: 1rem;
		height: auto;
		text-transform: uppercase;	
	}
	
	a {
		color: $white;
		font-size: 0.8rem;
		line-height: 1.3;
		padding: 1rem;
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		
		svg {
			transform: scale(1.8);
			margin: 0 7px 0 0;
			width: 2rem;
		}
		span {
			display: block;
			flex: 1;
		}
		.children_indicator {
			display: block;
			position: absolute;
			right: 6px;
			top: 11px;
			transition: all 200ms ease-in-out;

			svg {
				width: auto;
			}
		}
	}
	li {
		position: relative;
		display: block;
	}
	
	body:not(.side_menu_open) & {
		.branding-container {
			#johnson,
			#controls,
			.dv_text {
				width: 0;
				height: 0;
				overflow: hidden;
				opacity: 0;
				transition: opacity 200ms ease-in-out;
			}
			svg {
				margin: 27px -122px 17px 126px;
				transform: scale(1.1);
				transition: opacity 200ms ease-in-out;
			}
		}
		> ul {
			> li {
				> a,
				.collapsible-header a {
					margin-left: calc( #{$left_side_nav_width_open} - #{$left_side_nav_width_closed} - 5px );
					width: $left_side_nav_width_closed;
					transition: all 200ms ease-in-out;
					padding: 0 1rem;
					
					span:first-of-type {
						opacity: 0;
						width: 0;
						height: 3rem;
						overflow: hidden;
						transition: opacity 200ms ease-in-out;
					}
				
					.children_indicator {
						display: none;
					}
				}
			}
			.has_children {
				position: relative;
				
				.collapsible-body.child-pages {
					position: absolute;
					right: calc( #{- $left_side_nav_width_open} * 0.8 );
					top: 0;
					width: calc( #{$left_side_nav_width_open} * 0.8 );
					background: darken( $dark_theme_background, 5 );
					padding-left: 0;
					
				}
			}
		}
		li.active {
			@include linear-gradient(to right, $grey-blue 0%, $grey-blue 78%, darken( $dark_theme_background, 5 ) 78%);
			
			&.color_dashboard {
				@include linear-gradient(to right, $color_dashboard 0%, $color_dashboard 78%, darken( $dark_theme_background, 5 ) 78%);
			}
			&.color_configuration {
				@include linear-gradient(to right, $color_configuration 0%, $color_configuration 78%, darken( $dark_theme_background, 5 ) 78%);
			}
			&.color_tools {
				@include linear-gradient(to right, $color_tools 0%, $color_tools 78%, darken( $dark_theme_background, 5 ) 78%);
			}
			&.color_help_and_support {
				@include linear-gradient(to right, $color_help_and_support 0%, $color_help_and_support 78%, darken( $dark_theme_background, 5 ) 78%);
			}
			&.color_service_health {
				@include linear-gradient(to right, $color_service_health 0%, $color_service_health 78%, darken( $dark_theme_background, 5 ) 78%);
			}
			&.color_applications {
				@include linear-gradient(to right, $color_applications 0%, $color_applications 78%, darken( $dark_theme_background, 5 ) 78%);
			}
		}
	}
	
	li.active {
		@include linear-gradient(to right, $grey-blue 0%, $grey-blue 3%, darken( $dark_theme_background, 5 ) 3%);
		&.color_dashboard {
			@include linear-gradient(to right, $color_dashboard 0%, $color_dashboard 3%, darken( $dark_theme_background, 5 ) 3%);
		}
		&.color_configuration {
			@include linear-gradient(to right, $color_configuration 0%, $color_configuration 3%, darken( $dark_theme_background, 5 ) 3%);
		}
		&.color_tools {
			@include linear-gradient(to right, $color_tools 0%, $color_tools 3%, darken( $dark_theme_background, 5 ) 3%);
		}
		&.color_help_and_support {
			@include linear-gradient(to right, $color_help_and_support 0%, $color_help_and_support 3%, darken( $dark_theme_background, 5 ) 3%);
		}
		&.color_service_health {
			@include linear-gradient(to right, $color_service_health 0%, $color_service_health 3%, darken( $dark_theme_background, 5 ) 3%);
		}
		&.color_applications {
			@include linear-gradient(to right, $color_applications 0%, $color_applications 3%, darken( $dark_theme_background, 5 ) 3%);
		}

		.children_indicator {
			transform: rotate(90deg);
			transform-origin: center;
			right: 10px;
			top: 13px;
		}
	}
	
	.branding-container {
		display: flex;
		align-items: center;
		width: 90%;
		margin: 0 auto 0.75rem auto;
	
		.logo {
			border-right: 1px solid $white;
			width: 44%;
			margin: 0.5rem 0;
			
			svg {
				width: 80%;
				height: auto;
				margin: -2px auto 0 auto;
				display: block;
			}
		}
		.dv_text {
			text-align: center;
			width: 56%;
			padding: 1rem 0.75rem;
		}
	}
	
	.collapsible {
		font-size: 0.7rem;
		font-weight: 500;
		position: relative;
	}
	.collapsible-header {
		padding: 0;
		text-transform: uppercase;
		font-size: 0.9rem;
		position: relative;
	}
	.collapsible-body {
		background: transparent;
		padding: 0 0.5rem 0 1rem;
		
		li {
			line-height: 1;
		}
		a {
			padding: 0.7rem 1.1rem;
			height: auto;
			
			&[href="#"] {
				color: $medium-grey;
			}
			
			svg {
				transform: scale(1.1);
			}
		}
	}
}

