.table-header {
	padding: 0.5rem 0 0 0;
	height: $tableheader_height;
	
	&.grey-bg {
		background: $offwhite;
		background: linear-gradient(to bottom, $white 0%, $offwhite 94%);
	}
	#top-tab-container {
		display: flex;
		height: $tableheader_height;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		padding-right: 1.5rem;
		width: 100%;
		
		&.with-side-tabs {
			width: 100%;
			
			.tabs {
				padding-left: 10rem;
			}

		}
		
		&.align-right {
			justify-content: flex-end;
		}
		
		
	}
	a.btn {
		margin: -1.25rem 1rem 0 0;
		text-transform: uppercase;
		font-size: 85%;
		
		&.hidden {
			display: none;
		}
		
		svg {
			margin: 0 3px 0 -3px;
		}
		span {
			display: inline;
		}
	}
	.tabs {
		padding-left: 1.75rem;
		background: transparent;
	}
}

.standard-table,
.side-tab-table {
	display: block;
	background: $white;
	font-family: 'Roboto', sans-serif;
	padding: 0 1rem;
	.view-container {
		border: 1px solid $light-grey;
		border-top: none;
	}
	.slick-header-column {
		box-shadow: 0 1px 0 rgba( $dark, 0.35 );
		&.ui-state-default {
			height: auto;
			line-height: 2.25;
			border-left: 1px solid rgba( $light-grey, 0.75 );
			border-right: 1px solid rgba( $light-grey, 0.75 );
			border-bottom: 1px solid rgba( $light-grey, 0.95 ) !important;
			
			&:last-child {
				border-right: none;
			}
		}
		
		&[id*="_actionRow_"] {
			border-right: none;
		}
		
		.slick-sort-indicator {
			width: 10px;
			height: 10px;
			position: absolute;
			margin: 0.75rem 3px 0 -4px;
			opacity: 0.4;
			background-image: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-sort fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="sort" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="#{$primary_color}" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z"></path></svg>');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center right;
			
			&.slick-sort-indicator-asc {
				opacity: 0.8;
				background-image: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-sort-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="sort-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="#{$primary_color}" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"></path></svg>');
			}
			
			&.slick-sort-indicator-desc {
				opacity: 0.8;
				background-image: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-sort-up fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="sort-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="#{$primary_color}" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>');
			}
		}
		
		.slick-column-name {
			font-weight: 500;
			font-size: 90%;
			padding: 0 6px;
		}
	}
	
	#grid_assetCollectionList,
	#grid_assetCollectionList_collectionAssetsTab,
	#grid_assetCollectionList_collectionRelationshipsTab,
	#grid_assetCollectionList_collectionAssetsTab_assetDetail,
	#grid_assetCollectionList_collectionRelationshipsTab_relationshipDetail,
	#grid_schemaCollectionList,
	#grid_schemaList_entity,
	#grid_schemaList_message,
	#grid_schemaList_relationship,
	#grid_schemaList_event,
	#grid_schema_view_edit__schema,
	#grid_schema_view_edit__sysdata,
	#grid_schema_view_edit__brickmetadata
	{
		height: 100%;
		min-height: 46vh;
		
		.slick-row {
			transition: all 200ms ease-in-out;
			background: $table_even_background;
			
			&:hover {
				background: $highlight;
			}
			
			&.odd {
				background: $table_odd_background;
				
				&:hover {
					background: $highlight;
				}
			}
		}

		.slick-cell {
			padding: 5px 1rem;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid rgba( $light-grey, 0.5 );
			font-size: 90%;
			
			&.action_row {
				text-align: center;
				
				&.quick_view,
				&.delete {
					border-left: 1px dashed rgba( $light-grey, 0.5 );
				}
			}
		}
	}
	
	.collection_link,
	.assetType_link,
	.relationshipType_link,
	.schemaCollection_link,
	.schemaList_entity_link
	{
		cursor: pointer;
		color: $blue;
		transition: all 200ms ease-in-out;
		
		&:hover {
			color: $dark-blue;
		}
	}
	
	.edit-mode {
		.slick-cell {
			border: 1px solid $orange;
			background: rgba( $highlight, 0.05 );
			
			input {
				background: $highlight;
				padding: 0.25rem;
				margin: -0.1rem;
				line-height: 1;
				border: 1px solid rgba( $light-grey, 0.3 );
				
				&:focus,
				&:active {
					border:1px solid $medium-grey;
				}
				
				&[type="checkbox"] {
					padding: 0;
					margin: 0.25rem 0 0 -1px;
					box-shadow: 0 0 1px 1px $medium-grey;
					opacity: 1 !important;
					pointer-events: inherit;

				}
			}
			
			.select2-container {
				margin: -5px 0 0 -12px;
			}
		}
	}
}

.side-tab-table {
	display: flex;
	overflow: hidden;
	
	nav {
		width: auto;
	}
	.tab-side {
		font-size: 90%;
		width: auto;
		border-bottom: none;
		display: flex;
		flex-direction: column;
		background: none;
		box-shadow: none;
		margin: 1.8rem 0 0 0;
		padding: 0;
		line-height: 3;
		
		.nav-link {
			box-shadow: none;
			display: block;
			color: $dark;
			text-align: left;
			border: 1px solid $light-grey;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 0 1.3rem 0 1.1rem;
			line-height: 3;
			white-space: nowrap;

			&:hover {
				background: $white;
			}

			&.active {
				color: $dark;
				background: $white;
				font-weight: bold;
				@include linear-gradient(to right, $active_state_color 0%,  $active_state_color 4%, transparent 4%);
			}

			span {
				width: 6px;
				height: 6px;
				display: inline-block;
				margin: -1px -5 px 0 7px;
				border-radius: 6px;

				&.has-changes {
					background: #f00;
				}
			}
		}
	}
	.content_table_view {
		flex: 1;
	}
	
	.content-container {
			// just showing and hiding the content panels
			> .tab-pane { //surounds both JSON & table view containers
				display: none;
				
				.view-container { //JSON & table view switcher
					display: none;
				}
				
				&.active { // show container of BOTH views
					display: inherit;
					div.view-container {
						&.visible { // showing JSON or Table
							display: block;
						}
					}
					
				}
			}
		}
}

.table-footer {
	display: flex;
	font-size: 75%;
	height: $tablefooter_height;
	overflow: hidden;
	background: lighten( $light-grey, 35 );
	border-top: 1px solid lighten( $light-grey, 15 );
	padding: 0.25rem 0 0.25rem 0.25rem;
	justify-content: space-between;
	
	.current-version {
		padding-left: 0.75rem;
	}
	
	.previous-versions {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		
		a.toggle-versions-drawer-button {
			border-right: 1px solid rgba( $light-grey, 0.4 );
			
			span.button {
				padding: 0 3px;
				font-size: 1rem;
			}
			.text-wrap {
				width: 60px;
				display: block;
				float: right;
				line-height: 1;
				background: $white;
				padding: 8px 6px;
			}
			svg {
				margin-right: 0;
				color: $white;
				transition: all 400ms ease-in-out;
			}
		}
		&.open {
			a.toggle-versions-drawer-button {
				svg {
					transform: rotate( 180deg );
				}
			}
			
			.versions-drawer {
				max-width: 100%;
				padding: 0.25rem 1rem 0 1rem;
			}
		}
		
		.versions-drawer {
			max-width: 0;
			padding: auto 0;
			white-space: nowrap;
			transition: all 400ms ease-in-out;
			
			a {
				color: $blue;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				padding: 0 0.5rem;
				border-right: 1px solid rgba( $light-grey, 0.3 );
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
			}
		}
	}
	
	#pager_schemaCollectionList {
		width: 100%;
	}
	.slick-pager {
		display: flex;
		justify-content: space-between;
		line-height: 1.3;
		
		.slick-pager-status {
			order: 1;
			width: 25%;
		}
		.slick-pager-nav {
			order: 2;
			justify-self: center;
			text-align: center;
			width: 25%;
		}
		.slick-pager-settings {
			order: 3;
			width: 25%;
			text-align: right;
		}
		
		.ui-icon-container {
			@extend .btn.link;
			background: $white;
			color: $orange;
			padding: 2px 5px 1px 5px;
			border-radius: 2px;
			
			&:hover {
				background: $orange;
				color: $white;
			}
		}
	}
	
}