.tabs {
	height: auto;
	line-height: 1;
	width: auto;
	overflow: hidden;
	margin: -4px 0 0 0;
	
	.tab {
		margin-bottom: -3px;
		height: auto;
		line-height: 2.4;
		text-transform: none;
		
		&:last-child {
			margin-bottom: 1px;
		}
	}
	a.nav-link {
		background: transparent;
		margin: 0 0 -2px 4px;
		padding-top: 3px;
		color: rgba( $dark, 0.4 );
		border-bottom: 4px solid transparent;
		border-radius: 3px 3px 0 0;
		transition: all 200ms ease-in-out;
		
		&:hover,
		&:focus {
			background: $white;
			color: $dark;
		}
		
		&.active {
			font-weight: 700;
			box-shadow: none;
			background: transparent;
			color: $dark;
			border-bottom: 4px solid $yellow;
			&:focus {
				background: none;
			}
		}
	}
	
	.indicator {
		display: none;
		background-color: $yellow;
	}
}
