//
// Base
//
// What you will find here:
// 01. General HTML element styles
// 02. Global styles
// 03. Typography


// ---------------- 01. General HTML element styles
* {
	box-sizing: border-box;
}
body {
	font-family: $font_body_text;
	font-size: $font_basefont_size;
	color: $light_theme_text;
	background: $light_theme_background;
	font-weight: $font_body_text_weight;
	line-height: $font_default_line_height;
	transition: all 250ms ease-in-out;

	-webkit-tap-highlight-color: #ff0;

	@include phone-only {
		font-size: calc( #{$font_basefont_size} / 1.3 );
		line-height: 1.2;
	}

	a#hide_side_nav {
		position: absolute;
		opacity: 0;
		transition: opacity 200ms ease-in-out;
	}

	a#show_hide_left_side_nav {
		opacity: 1;
		margin: 0;
		transition: opacity 200ms ease-in-out;
	}

	.sidenav-overlay {
		background: rgba( $purple, 0.15 );
		opacity: 0 !important;
		position: absolute;
		top: 0;
		left: 0;
		height: 42px;
		width: 0;
		transition: opacity 200ms ease-in-out;

		&:hover {
			opacity: 1 !important;
			cursor: pointer;
		}

	}

}
.highlight,
::selection {
	background: #ff0;
}


blockquote {
	position: relative;
	padding: 1rem;

	&:before{
		content: "\201C";

		font-family: Georgia, serif;
		font-size: 90px;
		font-weight: bold;
		opacity: 0.2;

		position: absolute;
		left: -1.5rem;
		top: -1.5rem;
	}

}

nav {
	transition: width 250ms ease-in-out;
	ul {
		a {
			&:hover {
				background: rgba( $purple, 0.15 );
			}
		}
	}

}

// ---------------- 02. Global styles

.hide-this {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;

	svg {
		display: none;
	}
}
btn,
a.btn,
input[type="submit"] {
	line-height: 1.1;
	height: auto;
	background-color: $primary_color;
	color: $primary_color_text;
	border: $button_border;
	border-radius: $button_radius;
	display: inline-block;
	line-height: $button_line_height;
	padding: $button_padding;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent; // Gets rid of tap active state

	&:hover,
	&:active,
	&:target,
	&.active_button {
		background-color: darken( $primary_color, 15 );
	}

	&.link {
		background-color: transparent;
		box-shadow: none;
		color: $secondary_link_color;
		&:hover,
		&:active,
		&:target {
			color: $secondary_link_color_hover;
		}
	}

	&.blue-button {
		background-color: $primary_color;
		&:hover {
			background-color: darken( $primary_color, 10 );
		}
	}
	&.green-button {
		background-color: $green;
		&:hover,
		&:active,
		&:target{
			background-color: darken( $green, 5 );
		}
	}
	&.grey-button {
		background-color: darken( $light-grey, 15 );
		&:hover,
		&:active,
		&:target {
			background-color: darken( $orange, 30 );
		}
	}

	&.btn-large {
		font-size: 120%;
	}

	&.btn-small {
		font-size: 85%;
	}

	&.btn-block {
		display: block;
	}

	svg {
		margin: 0 4px 0 -4px;
	}
}

.dropdown-content {
	transform: translateY(2.7rem) !important;
	top: 0 !important;
}


// ---------------- 03. Typography

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}
h1 {
	font-size: $h1_font_size;
}
h2 {
	font-size: $h2_font_size;
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 1px solid $active_state_color;
}
h3 {
	font-size: $h3_font_size;
}
h4 {
	font-size: $h4_font_size;
	font-weight: 300;
}
h5 {
	font-size: $h5_font_size;
	text-transform: uppercase;
	border-bottom: 1px solid $active_state_color;
}
h6 {
	font-size: $h6_font_size;
	text-transform: uppercase;

}

a {
	color: $default-link-color;

	&:hover,
	&:focus,
	&:active {
		color: $default-link-color-hover;
	}
}

img {
	max-width: 100%;
}