
nav.next-and-previous-posts {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	> div {
		padding: 2rem;
	}
}

// pullquote shortcode styles

span.pulled-right {
	display: block;
	float: right;
	clear: right;
	padding: 0 0 0 10px;
	margin: 0 0 20px 20px;
	width: 230px;
	font-size: 1.5em;
	line-height: 1.3;
	text-align: right;
	color: lighten( $default-text-color, 10 );
	border-left: 3px solid transparentize( $primary-color, 0.5 );

	@include tablet-down {
		width: 200px;
		font-size: 1.3em;
	}
}

span.pulled-left {
	display: block;
	float: left;
	clear: left;
	padding: 0 10px 0 0;
	margin: 0 20px 20px 0;
	width: 230px;
	font-size: 1.5em;
	line-height: 1.3;
	text-align: left;
	color: lighten( $default-text-color, 10 );;
	border-right: 3px solid transparentize( $primary-color, 0.5 );

	@include tablet-down {
		width: 200px;
		font-size: 1.3em;
	}
}
