.table-header {
	padding: 0.5rem 0 0 0;
	height: $tableheader_height;
	
	&.grey-bg {
		background: $offwhite;
		background: linear-gradient(to bottom, $white 0%, $offwhite 94%);
	}
	#top-tab-container {
		display: flex;
		height: $tableheader_height;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		padding-right: 1.5rem;
		width: 100%;
		
		&.with-side-tabs {
			width: 100%;
			
			.tabs {
				padding-left: 10rem;
			}

		}
		
		&.align-right {
			justify-content: flex-end;
		}
		
		
	}
	a.btn {
		margin: -1.25rem 1rem 0 0;
		text-transform: uppercase;
		font-size: 85%;
		
		&.hidden {
			display: none;
		}
		
		svg {
			margin: 0 3px 0 -3px;
		}
		span {
			display: inline;
		}
	}
	.tabs {
		padding-left: 1.75rem;
		background: transparent;
	}
}

table {
	display: block;
	background: $white;
	font-family: 'Roboto', sans-serif;
	padding: 0 1rem;
	width: 100%;

	thead,
	tbody,
	tfoot {
		width: 100%;
		display: block;
	}

	&.grid-table {
		width: 100%;
		display: block;

		tr {
			width: 100%;
			display: grid;
			grid-template-columns: 250px 1fr 1fr;
			grid-template-areas: "column-1 column-2 column-3";

			transition: background 200ms ease-in-out;
			background: $table_even_background;

			&:hover {
				background: $highlight;
			}

			&:nth-child(odd) {
				background: $table_odd_background;

				&:hover {
					background: $highlight;
				}
			}

			&.parent-row {
				border-top: 1px solid $light-grey;
				grid-template-columns: 100%;
				grid-template-areas: "child-table";
				background: none !important;

				&:hover {
					background: none !important;
				}

				tr {
					border-left: 5px solid $light-grey;
				}
			}

			td,
			th {
				padding: 0.5rem;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;

				&.child-table-container {
					padding: 0;
				}
			}

			.grid-col-1 {
				grid-area: column-1;
			}
			.grid-col-2 {
				border-left: 1px dashed rgba( $light-grey, 0.75 );
				padding-left: 10px;
				grid-area: column-2;
			}
			.grid-col-3 {
				grid-area: column-3;
			}

			.grid-span-2 {
				grid-column: span 2;
			}
			.parent-row {
				grid-column: 1 / -1;
			}
		}

		thead,
		tfoot {
			tr,
			tr:nth-child(odd) {
				background: none !important;
				&:hover {
					background: none !important;
				}
			}
		}

		.child-table {
			width: 101%;
			margin-right: -2px;
			max-width: 101%;
			overflow: hidden;
			display: block;

			tbody {
				border-bottom: 1px solid $light-grey;
				transition: background 200ms ease-in-out;
				background: $table_even_background;

				&:hover {
					background: $highlight;
				}

				&:nth-child(odd) {
					background: $table_odd_background;

					&:hover {
						background: $highlight;
					}
				}
				tr {
					background: none;
					border-bottom: none;

					&:hover {
						background: $highlight;
					}

					&:last-child {
						.grid-col-2,
						.grid-col-3 {
							border-bottom: none;
						}
					}

					.grid-col-2,
					.grid-col-3 {
						border-bottom: 1px solid $light-grey;
					}


					td {
						padding: 0.35rem 0.5rem;
					}
				}
				.collapsable-grid-first-row {
					.grid-col-1 {
						cursor: pointer;
					}
				}
				.number-relationships-circle {
					display: inline-block;
					width: 16px;
					height: 16px;
					background: $primary_color;
					color: $white;
					border-radius: 50%;
					line-height: 1;
					font-weight: 300;
					font-size: 11px;
					text-align: center;
					padding: 3px 0;
					margin: -1px 0 0 4px;
					transition: all 200ms ease-in-out;
				}

				&.closed {
					display: block;
					overflow: hidden;
					white-space: nowrap;
					padding-top: 4px;

					tr {
						display: inline;
						border-left: none;

						&.collapsable-grid-first-row {
							.grid-col-1 {
								display: inline-block;
								width: 255px;
								border-left: 5px solid $light-grey;
								border-right: 1px dotted $light-grey;
								margin: -1.25em 0 0 0;
								padding: 0.34em 0.5em 0.34em 0.65em;
								line-height: 2;
							}
						}
						td {
							padding: 0.34em 0 0.5em 0.65em;
							margin: 4px 0 0 0;
							border: none;
							border-left: none;
							color: $light-grey;
							font-style: italic;
						}

					}
					.number-relationships-circle {
						opacity: 1;
					}
				}

				&.open {
					max-width: 100%;
					white-space: normal;

					.number-relationships-circle {
						opacity: 0;
					}
				}

				.svg-inline--fa {
					margin-right: 5px;
				}
			}
		}
	}

	.view-container {
		border: 1px solid $light-grey;
		border-top: none;
	}
	thead tr {
		box-shadow: 0 1px 0 rgba( $dark, 0.35 );
		height: auto;
		line-height: 2.25;
		border-left: 1px solid rgba( $light-grey, 0.75 );
		border-right: 1px solid rgba( $light-grey, 0.75 );
		border-bottom: 1px solid rgba( $light-grey, 0.95 ) !important;
			
		&:last-child {
			border-right: none;
		}
		
		&[id*="_actionRow_"] {
			border-right: none;
		}
		
		th {
			font-weight: 500;
			font-size: 90%;
			padding: 0 6px;
		}
	}


	
	.edit-mode {
		.slick-cell {
			border: 1px solid $orange;
			background: rgba( $highlight, 0.05 );
			
			input {
				background: $highlight;
				padding: 0.25rem;
				margin: -0.1rem;
				line-height: 1;
				border: 1px solid rgba( $light-grey, 0.3 );
				
				&:focus,
				&:active {
					border:1px solid $medium-grey;
				}
				
				&[type="checkbox"] {
					padding: 0;
					margin: 0.25rem 0 0 -1px;
					box-shadow: 0 0 1px 1px $medium-grey;
					opacity: 1 !important;
					pointer-events: inherit;

				}
			}
			
			.select2-container {
				margin: -5px 0 0 -12px;
			}
		}
	}
}

.side-tab-table {
	display: flex;
	overflow: hidden;
	
	nav {
		width: auto;
	}
	.tab-side {
		font-size: 90%;
		width: auto;
		border-bottom: none;
		display: flex;
		flex-direction: column;
		background: none;
		box-shadow: none;
		margin: 1.8rem 0 0 0;
		padding: 0;
		line-height: 3;
		
		.nav-link {
			box-shadow: none;
			display: block;
			color: $dark;
			text-align: left;
			border: 1px solid $light-grey;
			margin-bottom: -1px;
			margin-right: -1px;
			padding: 0 1.3rem 0 1.1rem;
			line-height: 3;
			white-space: nowrap;

			&:hover {
				background: $white;
			}

			&.active {
				color: $dark;
				background: $white;
				font-weight: bold;
				@include linear-gradient(to right, $active_state_color 0%,  $active_state_color 4%, transparent 4%);
			}

			span {
				width: 6px;
				height: 6px;
				display: inline-block;
				margin: -1px -5 px 0 7px;
				border-radius: 6px;

				&.has-changes {
					background: #f00;
				}
			}
		}
	}
	.content_table_view {
		flex: 1;
	}
	
	.content-container {
			// just showing and hiding the content panels
			> .tab-pane { //surounds both JSON & table view containers
				display: none;
				
				.view-container { //JSON & table view switcher
					display: none;
				}
				
				&.active { // show container of BOTH views
					display: inherit;
					div.view-container {
						&.visible { // showing JSON or Table
							display: block;
						}
					}
					
				}
			}
		}
}

.table-footer {
	display: flex;
	font-size: 75%;
	height: $tablefooter_height;
	overflow: hidden;
	background: lighten( $light-grey, 35 );
	border-top: 1px solid lighten( $light-grey, 15 );
	padding: 0.25rem 0 0.25rem 0.25rem;
	justify-content: space-between;
	
	.current-version {
		padding-left: 0.75rem;
	}
	
	.previous-versions {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		
		a.toggle-versions-drawer-button {
			border-right: 1px solid rgba( $light-grey, 0.4 );
			
			span.button {
				padding: 0 3px;
				font-size: 1rem;
			}
			.text-wrap {
				width: 60px;
				display: block;
				float: right;
				line-height: 1;
				background: $white;
				padding: 8px 6px;
			}
			svg {
				margin-right: 0;
				color: $white;
				transition: all 400ms ease-in-out;
			}
		}
		&.open {
			a.toggle-versions-drawer-button {
				svg {
					transform: rotate( 180deg );
				}
			}
			
			.versions-drawer {
				max-width: 100%;
				padding: 0.25rem 1rem 0 1rem;
			}
		}
		
		.versions-drawer {
			max-width: 0;
			padding: auto 0;
			white-space: nowrap;
			transition: all 400ms ease-in-out;
			
			a {
				color: $blue;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				padding: 0 0.5rem;
				border-right: 1px solid rgba( $light-grey, 0.3 );
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
			}
		}
	}
	
	#pager_schemaCollectionList {
		width: 100%;
	}
	.slick-pager {
		display: flex;
		justify-content: space-between;
		line-height: 1.3;
		
		.slick-pager-status {
			order: 1;
			width: 25%;
		}
		.slick-pager-nav {
			order: 2;
			justify-self: center;
			text-align: center;
			width: 25%;
		}
		.slick-pager-settings {
			order: 3;
			width: 25%;
			text-align: right;
		}
		
		.ui-icon-container {
			@extend .btn.link;
			background: $white;
			color: $orange;
			padding: 2px 5px 1px 5px;
			border-radius: 2px;
			
			&:hover {
				background: $orange;
				color: $white;
			}
		}
	}
	
}